$background: #f5f5f5;

// color type pokemon.
$type-fire: #fd7d24;
$type-water: #4592c4;
$type-grass: #9bcc50;
$type-electronic: #eed535;
$type-dragon: #4a446a;
$type-dark: #707070;
$type-psychic: #f366b9;
$type-ice: #51c4e7;
$type-flying: #649bd4;
$type-bug: #729f3f;
$type-fairy: #fdb9e9;
$type-ground: #704326;
$type-normal: #a4acaf;
$type-rock: #a38c21;
$type-fighting: #d56723;
$type-poison: #b97fc9;
$type-ghost: #7b62a3;
$type-steel: #84b7b8;

// color category.
$pokedex: #4fc1a6;
$moves: #fa6555;
$abilities: #58abf6;
$item: #ffce4b;
$generation: #a06eb4;
$type: #b1736c;
