@import "src/asset/style/color";

.chip {
  height: 28px;
  width: 70px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 20px;

  &-fire {
    color: $type-fire;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-water {
    color: $type-water;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-grass {
    color: $type-grass;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-dragon {
    color: $type-dragon;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-electric {
    color: $type-electronic;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-dark {
    color: $type-dark;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-ground {
    color: $type-ground;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-flying {
    color: $type-flying;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-normal {
    color: $type-normal;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-psychic {
    color: $type-psychic;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-poison {
    color: $type-poison;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-rock {
    color: $type-rock;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-steel {
    color: $type-steel;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-fairy {
    color: $type-fairy;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-ice {
    color: $type-ice;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-bug {
    color: $type-bug;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &-fighting {
    color: $type-fighting;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
  }

  &__type {
    font-size: 14px;
    font-weight: bold;
  }
}
