.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 5px;
  margin: 5px;

  &__title {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 66px;
      width: 110px;
    }
  }
}